uorb start

#PARAMS
param load
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set SYS_MC_EST_GROUP 2
#TODO - Re-do battery calibration
param set BAT_CNT_V_VOLT 0.001
param set BAT_V_DIV 10.9176300578
param set BAT_CNT_V_CURR 0.001
param set BAT_A_PER_V 15.391030303
dataman start

#DRIVERS
##df_lsm9ds1_wrapper start -R 4
##df_hmc5883_wrapper start
df_mpu9250_wrapper start -R 10
df_ms5611_wrapper start
df_ads1115_wrapper start
df_ursapwm_wrapper start
df_ursagpio_wrapper start
ursa_rcin start
ursa_sonar start 21 16

#CORE MODULES
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start

#MAVLINK
mavlink start -u 14556 -r 1000000
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink stream -u 14556 -s DISTANCE_SENSOR -r 50
mavlink boot_complete
